<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div align="center"> 
    <h2 >{{titleMsg | titlecase}}</h2> <!-- Using pipe in angular-->
  </div>
  <div class="alert alert-success"> <!-- https://www.w3schools.com/bootstrap4/bootstrap_alerts.asp-->
    <h3>JSON Format</h3> 
    <p>{{books | json}}</p>
  </div>
  <div>
    <h3>Table Format</h3> 
    <table class="table table-bordered">
      <thead>
        <tr *ngIf="books.length > 0">
          <th>Book Id</th>
          <th>Book Name</th>
          <th>Book Author</th>
          <th>Book Availabe</th>
          <th>Book Price</th>
          <th>Final Price (5% discount)</th>
        </tr>
      </thead>
      <tbody *ngFor="let book of books">
        <tr>
          <td>{{book.bookId}}</td>
          <td>{{book.bookName | uppercase}}</td> <!-- Using pipe in angular-->
          <td>{{book.bookAuthor}}</td>
          <td>
            <div [ngSwitch]="book.isAvailable">
              <span *ngSwitchCase="0">Not Available</span>
              <span *ngSwitchCase="1">Available</span>
              <span *ngSwitchDefault>NA</span>
            </div>
          </td>
          <td>{{book.bookPrice | currency:"INR"}}</td> <!-- Using pipe in angular-->
          <td>{{book.bookPrice | discount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
</body>
</html>

